{
  "$schema": "https://json.schemastore.org/eslintrc.json",
  "parser": "@babel/eslint-parser",
  "overrides": [
    {
      "files": ["admin/**/*"],
      "extends": "@strapi-community/admin"
    },
    {
      "files": ["server/**/*"],
      "extends": "@strapi-community"
    }
  ]
}
